@model Vidly.Models.Movie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to ASP.NET MVC Web Application</h1>
<h2>Random Movie Name</h2>
<h2>@Model.Name</h2>
<h3>MVC {M = Model, V = View, C = Controller}</h3>

